<header id="header" class="fixed-top ">
    <nav>
        <div class="container d-flex align-items-center justify-content-lg-between">
            <!-- Logo -->
            <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/conversor']">Conversor</a>
                    </li>
                    <li><a class="nav-link scrollto" href="#services">Factor</a></li>
                    <li><a class="nav-link scrollto" href="#historial">Historial</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Envios</a></li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/contact']">Contacto</a>
                    </li>
                </ul>
            </nav>
            <!-- .navbar -->
            <a href="#about" class="get-started-btn scrollto">Convert</a>
        </div>
    </nav>
</header>
