@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    var nombre = "Dani, Jesus, Uri";
}

<html>

<head>

    <meta charset="utf-8">
    <title>CCTransferB - COINS CONVERSION</title>

</head>


<body style="background-color:white; align-content:center; color:black; font-size:18px; ">

    <div id="page">
        <br />
        <br />
        <center>
            <h1>CCTransferWeb Grupo B</h1>
            @*
                // Paso 4 - Modelo
                <h2>@ViewBag.Saludo</h2>
            *@
            <br />
            @nombre



        </center>
    </div>
</body>
</html>
