<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Conversor de Monedas<span></span></h1>
                <h2>CCTransfer B</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="nav-link scrollto ri-coin-line"></i>
                    <h3> <a class="nav-link" [routerLink]="['/conversor']">Conversor de Monedas</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="nav-link scrollto ri-bar-chart-box-line"></i>
                    <h3> <a class="nav-link" [routerLink]="['/lista']">Lista de Monedas</a></h3>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->